torch==1.13.1
torchgeometry==0.1.2
torchvision==0.14.1
numpy==1.19.5
opencv-python==4.7.0.68
pyopengl==3.1.0
pyrender==0.1.45
scikit-image==0.19.3
scipy==1.10.0
tensorboard==2.11.0
chumpy
smplx==0.1.28
spacepy==0.4.1
tqdm
trimesh==3.17.1
Pillow
h5py
yacs
gradio